@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #171D2E inset;
}

input::-ms-reveal {
  filter: invert(100%);
}

.select2-selection {
  @apply !bg-[#171D2E] !border-[#1C6FAC] !border-2 focus:!ring focus:!ring-[#1C6FAC] focus:!ring-opacity-50 focus:!bg-[#212940] text-white;
}
.select2-selection__choice {
  @apply !bg-[#171D2E];
}
.select2-selection__choice__remove {
  @apply hover:!bg-[#1C6FAC];
}
.select2-selection__choice__remove span {
  @apply !text-white;
}