@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autocomplete browser styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #171D2E inset;
}
/* End Autocomplete browser styles */

input::-ms-reveal {
  filter: invert(100%);
}

/* Select2 library styles */
.select2-selection {
  @apply !bg-[#171D2E] !border-[#1C6FAC] !border-2 focus:!ring focus:!ring-[#1C6FAC] focus:!ring-opacity-50 focus:!bg-[#212940] text-white;
}
.select2-selection__choice {
  @apply !bg-[#171D2E];
}
.select2-selection__choice__remove {
  @apply hover:!bg-[#1C6FAC];
}
.select2-selection__choice__remove span {
  @apply !text-white;
}
/* End Select2 library styles */

/* Ckeditor library styles */
.ck-toolbar_grouping {
  @apply !bg-[#1C6FAC] !border-[#1C6FAC];
}
.ck-button {
  @apply !text-black;
}
.ck.ck-editor__main>.ck-editor__editable {
  @apply !bg-[#171D2E] text-white !border-[#1C6FAC];
}
.ck.ck-editor__main>.ck-editor__editable pre {
  background-color: #212b46;
  color: white;
}
.ck.ck-editor__main>.ck-editor__editable code {
  background-color: #303e64;
}
.ck.ck-editor__main>.ck-editor__editable ul {
  @apply list-disc ml-4;
}
.ck.ck-editor__main>.ck-editor__editable ol {
  @apply list-decimal ml-4;
}
.ck.ck-editor__main>.ck-editor__editable h2 {
  @apply text-2xl;
}
.ck.ck-editor__main>.ck-editor__editable h3 {
  @apply text-xl;
}
.ck.ck-editor__main>.ck-editor__editable h4 {
  @apply text-lg;
}
/* End Ckeditor library styles */